@charset "utf-8";

/* 画面名 */
#pgTitle{
	font-size:30px;
	font-weight: bold;
	text-align:center;
	padding: 10px 0px;
	margin-bottom: 20px;
}

/* 強調色 */
.accent{
	color: white;
    background: #40c89a;
	border: 1px solid #b7b6b6;
	border-radius:5px;
}

/* コンテンツ */
#contents{
	width: 70%;
    min-width: 400px;
    margin: auto;
}

/* 入力要素ラベル */
.inptHeader{
	font-size: 17px;
	font-weight: bold;
	color: gray;
    vertical-align: bottom;
}

/* 入力エリア */
.inptArea{
	margin-bottom: 35px;
	display: block;
}

/* 入力要素 */
.inptArea > input{
	font-size:25px; 
	width: 100%;
	padding: 10px 0;
	border: 1px solid #b7b6b6;
	border-radius:5px;
}

/* ログインボタン */
#btnArea button[type="button"]{
	font-size:25px;
	width: 100%;
    min-width: 240px;
    height: 60px;
}

#btnArea{
	display: flex;
    justify-content: center; /* 横方向中央 */
}

#btnArea #openBtn{
	width: 50px;
	margin-top:30px;
}

/* 新規登録ボタン */
#signup{
	font-size: 20px;
    padding: 15px;
    border:none;
    border-radius: 15px;
    position: fixed;
    bottom: 35px;
    right: 20px;
}

/* ボタン */
button{
	cursor:pointer;
}

/* サブコンテンツ */
#subArea{
	margin-top: 30px;
	padding: 20px 4px 0px;
	background: #f5f5f5;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
}

#addUser{
	font-size: 20px;
	display:block;
}

.subBlk{
	display: inline-table;
    width: calc(50% - 3px);
}

/* jqueryでHTMLにつけたり外したりする用 */
.select-green{
	background-color:#1cb11ab5;
}

.hover-user {
	background-color:#e1ffe1;
}

.empty-login-form {
	background-color:#ffbdbd;
}

/* ユーザー一覧 */
table{
	border-collapse:collapse;
	background:white;
}

table th,table td{
	border:1px solid #d8d8d8;
}

.select_user_row{
	background:#e2f5e2;
}

/* ニュースヘッダー */
#newsArea p{
	font-weight:bold;
	text-align:center;
}

/* ニュース */
#newsArea ul{
	border:1px solid #d8d8d8;
	border-radius:5px;
	overflow: auto;
    height: 110px;
    list-style: square inside;
	background:white;
}

/* 未入力背景 */
.input_nn{
	background:#ffbdbd;
}

/* ログインボタン:非活性 */
#loginBtn:disabled{
	background:gray;
}

/* フォーカス時アウトライン */
.focusBorder{
	outline:2px solid black !important;
}

/* フォーカス時太字 */
.focusBg{
	background:#e1ffe1;
}

/* 背景 */
.modal-back{
    display: none;
    position: fixed;
	z-index: 998;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.dialogForm{
	display:none;
	/* 真ん中に表示 */
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	width: 400px;
    height: 350px;
	z-index: 999;
	padding: 50px;
	background:rgb(255, 254, 254);
}

.dialogForm form{
	display: flex;
  	flex-direction: column;
	
}

.dialogForm input{
	padding: 10px 0;
	margin-bottom:20px;
}

.dialogForm button[type="submit"]{
	width: 40%;
	margin:10px auto;
	padding: 10px 0;
}

.delete{
  background: none;
  border: none;
  padding: 0;
  color:#137655;
  font-size: 50px;
  display:block;
  margin-left: auto;
}

